.scroll__description {
  font-size: 1.2rem;
  color: #888;
  max-width: 1000px;
  margin: 0 auto;
  /* 메뉴가 1000px인데 그 라인에 맞추기 위해 사용 */
  /* scroll__section--1의 with가 아닌 p의 width를 제한해주는 이유는 
     뒤에 비디오가 들어갈 때 너비가 꽉 차야 될 수도 있기 때문이다.  */
  /* 어차피 모바일 환경에서는 1000px이 안되므로 미디어쿼리에 넣지 않고 여기에 넣는다 */
}

.scroll__description strong {
  float: left;
  /* https://ofcourse.kr/css-course/float-%EC%86%8D%EC%84%B1 - float 정리 */
  font-size: 3rem;
  margin-right: 0.2em;
  /* font-size의 20퍼센트만큼 마진을 주겠다라는 뜻 */
  color: rgba(29, 29, 31);
}

@media (min-width: 1024px) {
  .scroll__description {
    font-size: 2rem;
  }
  .scroll__description strong {
    font-size: 6rem;
  }
}
